<!-- intro section
================================================== -->
<section id="intro">   

<div class="intro-overlay"></div>	

<div class="intro-content">
    <div class="row">

        <div class="col-twelve">

            <h5>Hello World.</h5>
            <h1>I'm Oishin Smith.</h1>

            <p class="intro-position">
                <span>PHP</span> 
                <span>Laravel</span>
                <span>Python</span>
                <span>Angular</span>
                <span>Vue.js</span>
                <span>AWS</span>
                <span>SQL</span>
                <span>MySQL</span>
                <span>Git</span>
                <span>Docker</span>
                <span>Jira</span>
                <span>Confluence</span>
                <span>Bitbucket</span>
                <span>Agile</span> 
            </p>

            <div class="row button-section">
                <div class="col-twelve">
                    <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Contact Me!</a>
                </div>   		
            </div>

        </div>  
        
    </div>   		 		
</div> <!-- /intro-content --> 

<ul class="intro-social">
    <li><a href="https://ie.linkedin.com/in/oishin-smith-019697193"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://link.springer.com/chapter/10.1007/978-3-030-56441-4_15"><i class="fa fa-bookmark"></i></a></li>
</ul> <!-- /intro-social -->      	

</section> <!-- /intro -->


<!-- about section
================================================== -->
<section id="about">  

<div class="row section-intro">
    <div class="col-twelve">

        <h1>Let me introduce myself.</h1>

        <div class="intro-info">

            <!-- <img src="assets/img/profile-pic.jpg" alt="Profile Picture"> -->

            <p class="lead">
                Hi, my name is Oishin Smith and welcome to my website. <br>I'm a full-stack software developer with over three years of experience currently 
                working for Jigsaw Insurance PLC.
            </p>
            <!-- <br><br><a class="button stroke smoothscroll" href="#contact" title="">Contact me!</a> -->
        </div>   			

    </div>   		
</div> <!-- /section-intro -->

<div class="row about-content">

    <div class="col-six tab-full">

        <h3>Hobbies</h3>
        <p class="lead">On week days I'm a software developer and in the evenings/weekends you'll find me with family/friends, playing guitar, playing games, in the gym, with my cat (Poncho) or coding.</p>

        <ul class="info-list">
            <li>
                <strong>Fullname:</strong>
                <span>Oishin Smith Valiente</span>
            </li>
            <li>
                <strong>Birth Date:</strong>
                <span>February 3rd 1996</span>
            </li>
            <li>
                <strong>Email:</strong>
                <span>oishin.smith@gmail.com</span>
            </li>

        </ul> <!-- /info-list -->

    </div>

    <div class="col-six tab-full">

        <h3>My main skills</h3>

            <ul class="skill-bars">
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>PHP</strong>
                </li>
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>Laravel</strong>
                </li>
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>Vue.js</strong>
                </li>
                <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>Angular</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>SQL</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>MySQL</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>Python</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>AWS</strong>
                </li>
            </ul> <!-- /skill-bars -->		

    </div>

</div>

</section> <!-- /process-->    


<!-- resume Section
================================================== -->
<section id="resume" class="grey-section">

    <div class="row section-intro">
        <div class="col-twelve">

            <h1>Work Experience:</h1>

        </div>   		
    </div> <!-- /section-intro--> 

    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2></h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Full-stack Software Developer</h3>
                        <p>January 2021 - Present</p>
                    </div>

                    <div class="timeline-content">
                        <h3 class="remove-margin">Jigsaw Insurance PLC</h3>
                        <p class="lead remove-margin" style="font-size: initial;">Technology used: PHP | Laravel | Python | Angular | Vue.js | AWS | SQL | MySQL | Git | Docker | HTML | CSS | JQuery | Javascript</p><h4></h4>
                        <ul class="lilead animated pulse infinite" style="margin: 0; ">
                            <li>Promoted to “Software Developer” from “Junior Software Developer” April 2022</li>
                            <li>Worked with a team of five software developers using Agile/Scrum</li>
                            <li>Involved in the entire development process, from concept to deployment</li>
                        </ul>
                        <div id="more" #more>
                            <ul class="lilead" style="margin: 0">
                                <li>Collaborated with the business on a greenfield project from initial concept, presenting progress to the business, stakeholders, and project managers every sprint</li>
                                <li>Experienced in working with different teams across the organisation including marketing, business analytics, IT support as well as external companies</li>
                                <li>Successfully migrated many on-premise products and databases to AWS improving scalability, flexibility, and accessibility</li>
                                <li>Investigated and found security vulnerabilities in many projects as a team and implemented security patches for them</li>
                                <li>Upgraded Laravel and Angular to newer versions in several products</li>
                                <li>Increased an insurance product’s quoting efficiency by 50% by fixing a bug in legacy code</li>
                                <li>Managed, configured, and troubleshoot AWS services including Elastic Beanstalk, S3, EC2, AWS Lambda, AWS CodePipeline, AWS CodeBuild, Cloudwatch, and SAM</li>
                                <li>Integrated AWS’s chatbot into a couple of AWS CodePipelines to notify the team on pipeline statuses</li>
                                <li>Developed RESTful APIs</li>
                                <li>Database management</li>
                                <li>Focus on designing user-friendly interfaces</li>
                                <li>Enhanced overall application and system performance</li>
                                <li>Performed code reviews on Bitbucket</li>
                                <li>Maintained over 27 different products with each having its own tech stack</li>
                            </ul>
                        </div>
                        <br> 
                        <a style="color:#1976d2" class="primary-button" onclick="showMore('more', 'myBtn')" id="myBtn" #myBtn>read more</a>
                        <br>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Intern Software Developer</h3>
                        <p>April 2019 - September 2019</p>
                    </div>

                    <div class="timeline-content">
                        <h3 class="remove-margin">Veritas Technologies</h3>
                        <p class="lead remove-margin" style="font-size: initial;">Technology used: C# | .Net | Git | Github | JQuery | Javascript | HTML | CSS</p><h4></h4>
                        <ul class="lilead" style="margin: 0;">
                            <li>Worked with a team of ten software developers using Agile/Scrum</li>
                            <li>Finished developing five stories</li>
                            <li>Improved data table functionality which customers interacted with every day</li>
                        </ul>
                        <div id="more1" #more>
                            <ul class="lilead" style="margin: 0;">
                                <li>Presented work to the team, teams in the US and India, product owners, and stakeholders</li>
                                <li>Technology: C#, JavaScript/JQuery, HTML, CSS, Git, Github.</li>
                            </ul>
                        </div>
                        <br> 
                        <a style="color:#1976d2" class="primary-button" onclick="showMore('more1', 'myBtn1')" id="myBtn1" #myBtn>read more</a>
                        <br>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->   			

        </div> <!-- /col-twelve -->
        
    </div> <!-- /resume-timeline -->

    <div class="row section-intro">
        <div class="col-twelve">

            <h1>Education:</h1>

        </div>   		
    </div> <!-- /section-intro--> 

    <div class="row resume-timeline">

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Dublin City University B.Sc. (Hons)</h3>
                        <p>September 2016 - June 2020</p>
                    </div>

                    <div class="timeline-content">
                        <h3 class="remove-margin">Dublin City University</h3><h4></h4>
                        <p class="lead remove-margin" style="font-size: initial;">Technology used: Python | Java | Git/Github | Angular | JQuery | etc...</p>
                        <ul class="lilead" style="margin: 0;">
                            <li>Studied computer science at Dublin City University for four years, focusing on programming, documentation writing, and efficient software development.</li>
                            <li>Published a university paper with three classmates</li>
                        </ul>
                        <div id="more2" #more>
                            <ul class="lilead" style="margin: 0;">
                                <li>Fourth year project: Developed an agent-based model (ABM) to simulate the relationship between crime and inequality using the MASON framework, incorporating algorithms for standard deviation, gini coefficient, and more, supported by extensive research.</li>
                                <li>Third year project: Created an Android app in Java for digitizing and encrypting IDs such as passports and student cards, used for identity and age verification</li>
                            </ul>
                        </div>
                        <br> 
                        <a style="color:#1976d2" class="primary-button" onclick="showMore('more2', 'myBtn2')" id="myBtn2" #myBtn>read more</a>
                        <br>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->   	

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Published Research</h3>
                        <p>June 2020</p>
                    </div>

                    <div class="timeline-content">
                        <h3 class="remove-margin">Dublin City University</h3><h4></h4>
                        <ul class="lilead" style="margin: 0;">
                            <li>Final year highlight: Published at a conference in Dusseldorf and won the best research paper of the year titled <a href="https://link.springer.com/chapter/10.1007/978-3-030-56441-4_15" style="color: blue;">"Agile Software Development – Do We Really Calculate the Costs? A Multivocal Literature Review"</a></li>
                            <li>Collaborated with three other students</li>
                            <li>Work involved extensive research including reading, analyzing, summarizing, and extracting information from about 150 research papers</li>
                        </ul>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap --> 		

        </div> <!-- /col-twelve -->
        
    </div> <!-- /resume-timeline -->
    
</section> <!-- /features -->


<!-- Portfolio Section
================================================== -->
<section id="portfolio">

    <div class="row section-intro">
        <div class="col-twelve">

            <h1>Links</h1>

            <p class="lead">Here's the links for github repositories and websites that have been mentioned so far:</p>
             		
        </div>
    </div>

    <div class="row resume-timeline">

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-github"></i>
                    </div>

                    <div class="timeline-header">
                        <h3></h3>
                    </div>

                    <div class="timeline-content">
                        <h3><a href="https://github.com/OishinSmith?tab=repositories" style="color:#0dcaf0">[LINK]</a> to my Github</h3><h4></h4>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-github"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>January 2021 - Present</h3>
                    </div>

                    <div class="timeline-content">
                        <h3><a href="https://jigsawinsurance.com/" style="color:#0dcaf0">[LINK]</a> to the Jigsaw Insurance PLC website</h3><h4></h4>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-link"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>June 2020</h3>
                    </div>

                    <div class="timeline-content">
                        <h3><a href="https://link.springer.com/chapter/10.1007/978-3-030-56441-4_15" style="color:#0dcaf0">[LINK]</a> to published research</h3><h4></h4>
                    </div>

                </div> <!-- /timeline-block -->
                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-github"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>September 2016 - June 2020</h3>
                    </div>

                    <div class="timeline-content">
                        <h3><a href="https://www.dcu.ie/" style="color:#0dcaf0">[LINK]</a> to the Dublin City University website</h3><h4></h4>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-link"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>September 2019 - May 2020</h3>
                    </div>

                    <div class="timeline-content">
                        <h3><a href="https://github.com/OishinSmith/fourthYearProject" style="color:#0dcaf0">[LINK]</a> to my 4th year project repo</h3><h4></h4>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-link"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>April 2019 - September 2019</h3>
                    </div>

                    <div class="timeline-content">
                        <h3><a href="https://www.veritas.com/" style="color:#0dcaf0">[LINK]</a> to the Veritas Technologies website</h3><h4></h4>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-link"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>September 2018 - May 2019</h3>
                    </div>

                    <div class="timeline-content">
                        <h3><a href="https://github.com/OishinSmith/thirdYearProject" style="color:#0dcaf0">[LINK]</a> to my 3rd Year Project repo</h3><h4></h4>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->   			

        </div> <!-- /col-twelve -->
        
    </div> <!-- /resume-timeline -->
    
</section> <!-- /portfolio --> 	

<!-- contact
================================================== -->
<section id="contact">

    <div class="row section-intro">
        <div class="col-twelve">

            <h1>I'd Love To Hear From You.</h1>

            <p class="lead">If you have any questions or are interested in any of the work I do, please do get in contact with me. I appreciate the read and thanks!</p>

        </div> 
    </div> <!-- /section-intro -->

    <div class="row contact-info">

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-pin"></i>
            </div>

            <h5>Glad you made it this far!</h5>

            <p class="lead">
            Your Friendly<br>
            Neighbourhood<br>
            Software Developer
            </p>

        </div>

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-mail"></i>
            </div>

            <h5>Email me here</h5>

            <p class="lead">oishin.smith@gmail.com<br>	     
            </p>

        </div>

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-phone"></i>
            </div>

            <h5>Call Me Here</h5>

            <p class="lead">
                Mobile UK: 07787179135<br>
                Mobile ROI: 085878 4117 <br>
            </p>

        </div>
        
    </div> <!-- /contact-info -->
    
</section> <!-- /contact -->


<!-- footer
================================================== -->

<footer style="background-color: #151515;">

    <div class="row section-intro">
        <div class="col-twelve">

            <ul class="footer footer-social">        
                <li><a href="https://ie.linkedin.com/in/oishin-smith-019697193"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://link.springer.com/chapter/10.1007/978-3-030-56441-4_15"><i class="fa fa-bookmark"></i></a></li>
            </ul> 
            
        </div>
    </div>
    	
</footer>  
