<!-- intro section
================================================== -->
<section id="intro">   

<div class="intro-overlay"></div>	

<div class="intro-content">
    <div class="row">

        <div class="col-twelve">

            <h5>Hello, World.</h5>
            <h1>I'm Oishin Smith.</h1>

            <p class="intro-position">
                <span>PHP</span> 
                <span>Laravel</span>
                <span>Python</span>
                <span>Angular</span>
                <span>Vue.js</span>
                <span>AWS</span>
                <span>SQL</span>
                <span>MySQL</span>
                <span>Git</span>
                <span>Docker</span>
                <span>Jira</span>
                <span>Confluence</span>
                <span>Bitbucket</span>
                <span>Agile</span> 
            </p>

            <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

        </div>  
        
    </div>   		 		
</div> <!-- /intro-content --> 

<ul class="intro-social">        
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://ie.linkedin.com/in/oishin-smith-019697193"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://link.springer.com/chapter/10.1007/978-3-030-56441-4_15"><i class="fa fa-bookmark"></i></a></li>
</ul> <!-- /intro-social -->      	

</section> <!-- /intro -->


<!-- about section
================================================== -->
<section id="about">  

<div class="row section-intro">
    <div class="col-twelve">

        <h5>About</h5>
        <h1>Let me introduce myself.</h1>

        <div class="intro-info">

            <img src="assets/img/profile-pic.jpg" alt="Profile Picture">

            <p class="lead">
                Hi, my name is Oishin Smith and welcome to my website! I'm a full-stack software developer with over three years of experience currently 
                working for Jigsaw insurance PLC who are a consumer-focused insurance broker.
            </p>
            <!-- <br><br><a class="button stroke smoothscroll" href="#contact" title="">Contact me!</a> -->
        </div>   			

    </div>   		
</div> <!-- /section-intro -->

<div class="row about-content">

    <div class="col-six tab-full">

        <h3>Hobbies</h3>
        <p class="lead">On week days I'm a software developer and in the evenings/weekends you'll find me with family/friends, playing guitar, playing games, in the gym, with my cat (Poncho) or coding.</p>

        <ul class="info-list">
            <li>
                <strong>Fullname:</strong>
                <span>Oishin Smith</span>
            </li>
            <li>
                <strong>Birth Date:</strong>
                <span>February 3 1996</span>
            </li>
            <li>
                <strong>Job:</strong>
                <span>Software Developer</span>
            </li>
            <li>
                <strong>Website:</strong>
                <span>www.oishinsmith.com</span>
            </li>
            <li>
                <strong>Email:</strong>
                <span>oishin.smith@gmail.com</span>
            </li>

        </ul> <!-- /info-list -->

    </div>

    <div class="col-six tab-full">

        <h3>Skills</h3>
        <p class="lead">My tech stack: PHP, Laravel, Python, Angular, Vue.js, AWS, Agile, SQL, MySQL, 
            HTML, CSS, Javascript, Typescript, Git, Jenkins, Docker, Putty, Jira, Confluence, Bitbucket.

        </p>

            <ul class="skill-bars">
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>PHP</strong>
                </li>
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>Laravel</strong>
                </li>
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>Vue.js</strong>
                </li>
                <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>Angular</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>SQL</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>MySQL</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>Python</strong>
                </li>
                <li>
                    <div class="progress percent65"><span>65%</span></div>
                    <strong>AWS</strong>
                </li>
            </ul> <!-- /skill-bars -->		

    </div>

</div>

<div class="row button-section">
    <div class="col-twelve">
        <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Contact Me!</a>
        <a href="https://ie.linkedin.com/in/oishin-smith-019697193" title="Download CV" class="button button-primary">LinkedIn</a>
    </div>   		
</div>

</section> <!-- /process-->    


<!-- resume Section
================================================== -->
<section id="resume" class="grey-section">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Resume</h5>
            <h1>Accomplishments</h1>

            <p class="lead">Here's a summary of my work experience and education so far.</p>

        </div>   		
    </div> <!-- /section-intro--> 

    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2>Work Experience</h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Software Developer</h3>
                        <p>January 2021 - Present</p>
                    </div>

                    <div class="timeline-content">
                        <h3 class="remove-margin">Jigsaw Inusrance PLC</h3>
                        <p class="lead remove-margin" style="font-size: initial;">Technology used: PHP | Laravel | Python | Angular | Vue.js | AWS | SQL | MySQL | Git | Docker | HTML | CSS | JQuery | Javascript</p><h4></h4>
                        <p class="lead">I'm currently working Jigsaw Inurance, who are an insruance company and have been working there for more than<span style="color: black" id="dots">...</span>
                            <span id="more">
                                two years. Our software development team is made up of five developers. 
                                we're an agile team who work on two week sprints. Planning normally starts on the monday where we discuss the sprint objective, tasks, stories, bugs and assign them to eachother. 
                                At the end of our sprint we have our sprint retrospective where we talk about the positives, negatives and possible improvements of the past sprint. Furthermore, we're a 
                                team who strongly follow the software development lifecycle which involves requirements gathering, Design, Development, Testing, Deployment and Maintenance of software.
                                <br>
                                <br>
                                My day to day responsabilities mostly/may involve back-end and front-end development, DevOps, quality assurance, project documentation and project management. 
                                
                                Every sprint I will develop software depending on the requirements. I will then thoroughly test the software locally and on our development environments making sure 
                                the requirements are met for the new software before presenting it to my development team and the business. 
                                 <br>
                                 <br>
                                 Once the new software has been presented, I will start the release process. This involves creating documentation/release-notes for the new software, 
                                 creating a release branch and a sprint task in Jira to release the new software and also tagging the tickets in Jira with the appropriate release version. 
                                 When we're ready to release the new software I will create an email and attach the release notes to it and communicate to the business that new software is 
                                 going to be released at a specific time. When it is time, I will release the software into production, do some integration testing to see if the new 
                                 features/bug-fixes are available and monitor the websites/software to check for errors.
                                 <br>
                                 <br>
                                 
                            </span>
                            <br>
                            <a style="color:#1976d2" class="primary-button" onclick="showMore('dots', 'more', 'myBtn')" id="myBtn" #myBtn>read more</a>
                            <br>
                        </p>
                        
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Software Developer</h3>
                        <p>April 2019 - September 2019</p>
                    </div>

                    <div class="timeline-content">
                        <h3 class="remove-margin">Veritas Technologies</h3>
                        <p class="lead remove-margin" style="font-size: initial;">Technology used: C# | .Net | Git | Github | JQuery | Javascript | HTML | CSS</p><h4></h4>
                        <p class="lead animated pulse infinite">As part of my software engineering course at DCU, I worked for Veritas for six months with a great team of Agile software developers.<span style="color: black" id="dots1" #dots>...</span><span id="more1"#more> 
                                During the six months, I worked on five different stories where I added functionality to a few different products. I took part in daily 
                                stand-ups, bimonthly retrospectives, meetings, presentations and two deployments with teams in India and the USA.
                                <br>
                                <br>
                                P.S. This was an incredible experience and my first proper insight into the software development world. 
                            </span>
                            <br>
                            <a style="color:#1976d2" class="primary-button" onclick="showMore('dots1', 'more1', 'myBtn1')" id="myBtn1" #myBtn>read more</a>
                            <br>
                                
                        </p>
                            <br><br>
                        <p>

                        </p>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->   			

        </div> <!-- /col-twelve -->
        
    </div> <!-- /resume-timeline -->

    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2>Education</h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Bachelor Degree</h3>
                        <p>September 2016 - June 2020</p>
                    </div>

                    <div class="timeline-content">
                        <h3 class="remove-margin">Dublin City University</h3><h4></h4>
                        <p class="lead remove-margin" style="font-size: initial;">Technology used: Python | Java | Git/Github | Angular | JQuery | etc...</p>
                        <p class="lead animated pulse infinite">I studied computer science at Dublin City University for four years, here I learned how to program, write documentation, develop <span style="color: black" id="dots2" #dots>...</span><span id="more2"#more> 
                                software in an efficient way and to work as a team of software developers. The biggest highlights of university was the university paper I published with three 
                                other class mates (information can be found in the next section) and my fourth and third year projects.
                                <br>
                                <br>
                                Fourth year project:
                                <br>
                                My 4th year project (with another student) was an agent based model (ABM) that simulated the relationship between crime and inequality. 
                                We made use of MASON which was an ABM framework to help us with the simulation. We implemented several algorithms 
                                to calculate standard deviation, gini coeficient, income, expenditure, hunger, stress, etc. There was also a lot of 
                                research done for the topic as it was a simulation.
                                
                                <br>
                                <br>
                                Third year project:
                                <br>
                                For my 3rd year project (with another student) we developed an android app written in java that enabled the digitisation and 
                                encryption of IDs (e.g. passport, student card) and allows these IDs to be used for verification. 
                            </span>
                            <br>
                            <a style="color:#1976d2" class="primary-button" onclick="showMore('dots2', 'more2', 'myBtn2')" id="myBtn2" #myBtn>read more</a>
                            <br>
                                
                        </p>
                            <br><br>
                        <p>

                        </p>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->   	

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Published Research</h3>
                        <p>June 2020</p>
                    </div>

                    <div class="timeline-content">
                        <h3 class="remove-margin">Dublin City University</h3><h4></h4>
                        <p class="lead animated pulse infinite">The biggest highlight of University was during my final year. I achieved a publication at a conference in Dusseldorf as well as the best research<span style="color: black" id="dots3" #dots>...</span><span id="more3"#more> 
                             paper of the year - <a style="color: blue;"href="https://link.springer.com/chapter/10.1007/978-3-030-56441-4_15">"Agile Software Development – Do We Really Calculate the Costs? A Multivocal Literature Review".</a> 
                            I achieved this publication with a team of three other students. The work involved reading, analysing, summarising and extracting information from 
                            about 150 research papers, and formulating this into the publication.
                            </span>
                            <br>
                            <a style="color:#1976d2" class="primary-button" onclick="showMore('dots3', 'more3', 'myBtn3')" id="myBtn3" #myBtn>read more</a>
                            <br>
                                
                        </p>
                            <br><br>
                        <p>

                        </p>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap --> 		

        </div> <!-- /col-twelve -->
        
    </div> <!-- /resume-timeline -->
    
</section> <!-- /features -->


<!-- Portfolio Section
================================================== -->
<section id="portfolio">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Portfolio</h5>
            <h1>Links</h1>

            <p class="lead">Here's a collection of relevant links for github repositories and websites that have been mentioned so far.</p>
             		
        </div>
    </div>

    <div class="row resume-timeline">

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-github"></i>
                    </div>

                    <div class="timeline-header">
                        <h3></h3>
                    </div>

                    <div class="timeline-content">
                        <h3>Github<a href="https://github.com/OishinSmith?tab=repositories" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">On my github repo you'll find most of my personal work. If you have any questions about it please contact me!</p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-github"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>January 2021 - Present</h3>
                    </div>

                    <div class="timeline-content">
                        <h3>Jigsaw Insurance<a href="https://jigsawinsurance.com/" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">A link to the Jigsaw Insurance website for more information.</p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-link"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>June 2020</h3>
                    </div>

                    <div class="timeline-content">
                        <h3>Published research<a href="https://link.springer.com/chapter/10.1007/978-3-030-56441-4_15" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">One of the links to the University paper I published with my colleagues.</p>
                    </div>

                </div> <!-- /timeline-block -->
                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-github"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>September 2016 - June 2020</h3>
                    </div>

                    <div class="timeline-content">
                        <h3>Dublin City University<a href="https://www.dcu.ie/" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">A link to the Dublin City University website for more information.</p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-link"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>September 2019 - May 2020</h3>
                    </div>

                    <div class="timeline-content">
                        <h3>4th year project<a href="https://github.com/OishinSmith/fourthYearProject" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">My github repo for my 4th year project.</p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-link"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>April 2019 - September 2019</h3>
                    </div>

                    <div class="timeline-content">
                        <h3>Veritas Technologies<a href="https://www.veritas.com/" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">Link to the Veritas Technologies website for more information.</p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-link"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>September 2018 - May 2019</h3>
                    </div>

                    <div class="timeline-content">
                        <h3>3rd Year Project<a href="https://github.com/OishinSmith/thirdYearProject" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">My github repo for my 3rd year project.</p>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->   			

        </div> <!-- /col-twelve -->
        
    </div> <!-- /resume-timeline -->
    
</section> <!-- /portfolio --> 	

<!-- contact
================================================== -->
<section id="contact">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Contact</h5>
            <h1>I'd Love To Hear From You.</h1>

            <p class="lead">If you have any questions or are interested in any of the work I do, please do get in contact with me. I appreciate the read and thanks!</p>

        </div> 
    </div> <!-- /section-intro -->

    <div class="row contact-info">

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-pin"></i>
            </div>

            <h5>Glad you made it this far!</h5>

            <p class="lead">
            Your friendly<br>
            Neighborhood<br>
            Software developer
            </p>

        </div>

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-mail"></i>
            </div>

            <h5>Email Me here</h5>

            <p class="lead">oishin.smith@gmail.com<br>	     
            </p>

        </div>

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-phone"></i>
            </div>

            <h5>Call Me Here</h5>

            <p class="lead">
                Mobile: (+44) 07 787179135<br>
            </p>

        </div>
        
    </div> <!-- /contact-info -->
    
</section> <!-- /contact -->


<!-- footer
================================================== -->

<footer style="background-color: #151515;">

    <div class="row section-intro">
        <div class="col-twelve">

            <ul class="footer footer-social">        
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://ie.linkedin.com/in/oishin-smith-019697193"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://link.springer.com/chapter/10.1007/978-3-030-56441-4_15"><i class="fa fa-bookmark"></i></a></li>
            </ul> 
            
        </div>
    </div>
    	
</footer>  
